<footer class="text-center text-light mt-4" style=" background: radial-gradient(#000000,#130F40) repeat;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center text-light">
          <span class="me-3">Register On Jumpstart Custom for free!</span>
        <%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-outline-primary btn-rounded" %>
      </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © <%= Date.today.year %> Copyright:
      <a class="text-light" href="https://xhostcom.com/">Paul Anthony McGowan</a>
    </div>
    <!-- Copyright -->
  </footer>





